/* styles.css */
.login-form {
    background-color:  #a31acb;
    display: flex;
    justify-content: end;
  }
  
  /* Additional styles for input and button if needed */
  .login-form input {
    margin-bottom: 10px;
    padding: 8px;
    border: 2px, solid, #F5EA5A;
    border-radius: 4px;
  }
  
  .login-form button {
    height: 35.5px;
    background-color: #FF78F0;
    color: #F5EA5A;
    
    border-radius: 4px;
    cursor: pointer;
  }
  